/*
  Author: Andrea Jackson
*/


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

ul.nav a:hover {
  background-color: gray;
}

/* Main Content */

html,
body {
  height: 100%;
  /*background-color: rgb(1,73,145);*/
  text-align: center;
  font-family: Raleway;
}

p {
  font-size: 20px;
}

.content-wrapper {
  margin-left: 270px;
  height: 100%;
}

.content-wrapper-inner {
  vertical-align: top;
}

.cover-container {
  margin-top: 13%;
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/* Edit Bootstrap */
.col-lg-9 {
  float: right;
  width: 100%;
}

/*
 * Side Navigation Bar
 */
.sidebar-wrapper {
  width: 270px;
  height: 100%;
  background-color: black;
  /*margin-right: -270px;*/
  float: left;
}

.sidebar-nav {
  top: 20px;
  width: 270px;

}

.sidebar-nav li {
  position: relative;
  text-align: left;
  line-height: 35px;
  font-size: 17px;
  display: inline-block;
  width: 100%;
}

.sidebar-brand {
  position: relative;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
  min-height: 48px;
  height: 75px;
  font-size: 20px;
  line-height: 44px;
}

.sidebar-brand h1 {
  position: relative;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
  color: #fff;
  font-size: 1em;
  line-height: 1em;
}

.sidebar-brand p {
  position: relative;
  margin-top: 0;
  margin-right: 20px;
  text-align: right;
  display: block;
  font-size: 0.8em;
  line-height: 1.25em;
  color: #fff;
}

.sidebar-brand .image {
  position: relative;
  float: left;
  left: 20px;
  border: 1px solid black;

}

/*
 * Image
 */

.roundedImage {
  border-radius: 50%;
}

/*
 * Footer
 */

.mastfoot {
  margin-right: auto;
  margin-left: auto;
}

#headerToggle {
    display: none;
}



/*
 * Re-format for Mobile Devices
 */

@media (max-width: 768px) {
  /*hide sidebar*/
  .navbar {
    display: none;
  }

  img {
  max-width: 100%;
  }

  .content-wrapper {
    margin-left: 0;
  }

  .sidebar-wrapper .toggled {
    padding-left: 270px;
  }

  /*
  * Mobile phone sidebar is currenly not functioning.
  * Design of toggable sidebar and desktop sidebar is based on
  * https://html5up.net/prologue
  */
  #headerToggle {
    font-style: normal;
    font-weight: normal;
    content: '\f01f';
    display: block;
    font-size: 18px;
    text-align: center;
    top: 0.5em;
    left: 0.5em;
    position: fixed;
    height: 2.25em;
    width: 3.25em;
    border-radius: 0.35em;
    background: rgba(128, 136, 144, 0.5);
  }
}

/*
* Style
*/

#red {
  color:red;
}

#black {
  color:black;
}

#info {
  position: absolute;
  top: 0.5em;
  right: 0;
}
